<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <php>
        <const name="NonceOOP\Test\DB_USER" value="PLACEHOLDER" />
        <const name="NonceOOP\Test\DB_NAME" value="PLACEHOLDER" />
        <const name="NonceOOP\Test\DB_PASSWORD" value="PLACEHOLDER" />
        <const name="NonceOOP\Test\DB_HOST" value="localhost" />
        <const name="NonceOOP\Test\DB_CHARSET" value="utf8" />
        <const name="NonceOOP\Test\DB_COLLATE" value="" />
        <const name="NonceOOP\Test\DB_TABLE_PREFIX" value="some_plugin_" />
    </php>
    <testsuites>
        <testsuite name="WpIntegrationTests">
            <directory suffix="Test.php">./tests/WpIntegration</directory>
        </testsuite>
    </testsuites>
</phpunit>